.container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.600);
    position: fixed;
    top: 0;
    left: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;
}


@media screen and (max-width:1024px) {
    .container {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.600);
        top: 0;
        left: 0;
        margin-left: 2rem;

    }
}

@media screen and (max-width:600px) {
   
    .container {
        margin-left: 0rem;
    }
  
    
}


